{% extends "base.html"%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>aboutus.html</title>
</head>
<body>
    <section class="aboutus">
        <div class="aheading">
            <h1>About-us</h1>
        </div>
        <div class="containerab">
            <div class="contantab">
                <h2>WELCOME OUR WEBSITE</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quibusdam, dicta, perspiciatis dolorem odio possimus quae nisi deleniti voluptate dolorum maiores! Libero, ea? Quod tenetur nulla, corrupti itaque commodi praesentium?</p>
                <button name="Learn more" value=""> Learn more </button>
            </div>
            <div class="imgab">
                <img src="image/business.jpg">
              
            </div>
        </div>
        </section>
</body>
</html>
{%endblock%}

